@import "tailwindcss";

@theme {
  /* Colores EXACTOS extraídos de las imágenes de Primeleg */
  --color-web-text: #ffffff;    /* text */
  --color-web-background: #0c161d; /* Fondos */
  --color-web-primary: #c69c6d;  /* Dorado/Cobre botones/otros, titulos*/
  --color-web-secondary: #484f55;   /* gris/Cobre botones/otros, */
  --color-web-accent: #484f55; /*Dorado/Cobre, otros iconos,etc.*/
  
  /* Tipografías */
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  @apply font-sans text-web-text bg-web-background antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-web-primary;
}

a, button {
  @apply transition-all duration-300;
}